<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Welcome to the Blog Home Page
        <% if (auth) { %>
            <div class="user-info">
                <p>مرحباً, <%= auth.firstName %>
                </p>
                <p>البريد: <%= auth.email %>
                </p>
            </div>
            <% } else { %>
                <p>يرجى تسجيل الدخول</p>
                <% } %>
    </h1>
    
</body>
</html>